<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Button</title>
  </head>
  <body>
    <div id="root"></div>
      <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://fb.me/react-0.13.3.js"></script>
      <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
      <script type="text/jsx">
        var TopicList = React.createClass({
          localVoteHandler: function(topicID) {
            this.props.onVoteHandler(topicID);
          },
          render: function() {
            var topicNodes = this.props.data.map(function (topic, i) {
              return (<Topic key={topic.ID} idx={i} id={topic.ID} voteCount={topic.vote_count} title={topic.title} voteHandler={this.localVoteHandler} />);
            }.bind(this));
            return (<div><ul>{topicNodes}</ul></div>);
          }
        });

        var VoteButton = React.createClass({
          localHandlerClick: function (){
            this.props.localHandlerClick();
          },
          render: function(){
            return (<button onClick={this.localHandlerClick}>{this.props.status}</button>);
          }
        });

        var Topic = React.createClass({
          getInitialState: function (){
            return {status: this.props.voteCount}
          },
          handlerClick : function (){
            this.props.voteHandler(this.props.idx)
          },
          render: function() {
            console.log(this.state.status)
            return (
              <li>{this.props.title} <VoteButton localHandlerClick={this.handlerClick}
              status={this.props.voteCount}/></li>
            );
          }
        });

        var MainApp = React.createClass({
          loadTopicsFromServer: function() {
            $.ajax({
              url: "http://localhost:8080/api/v1/topics",
              dataType: 'json',
              cache: false,
              success: function(data) {
                this.setState({data: data.topics});
              //  console.log(this.state.data)
              }.bind(this),
              error: function(xhr, status, err) {
                console.error("v1/topics", status, err.toString());
              }.bind(this)
            });
          },
          upvoteHandler: function(postID) {
            $.ajax({
              url:"http://localhost:8080/api/v1/vote",
              dataType: 'json',
              type: 'POST',
              contentType: 'application/json; charset=utf-8',
              data: JSON.stringify(this.state.data[postID]),
              success: function(data) {
                //this.setState({data: []})
                this.setState({data: data.topics});
              }.bind(this),
              error: function(xhr, status, err) {
                //console.log(this.state.data[postID]);
                console.error(xhr, status, err.toString());
              }.bind(this)
            });
          },
          getInitialState: function() {
            return {data: []};
          },
          componentDidMount: function() {
            this.loadTopicsFromServer();
          },
          render: function() {
            return (
              <div>
                <h1>Topics for July 3rd Week</h1>
                  <TopicList data={this.state.data} onVoteHandler={this.upvoteHandler} />
              </div>
            );
          }
        });
        React.render(<MainApp />, document.getElementById("root"))
      </script>
  </body>
</html>
