<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Button</title>
  </head>
  <body>
    <div id="root"></div>
      <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://fb.me/react-0.13.3.js"></script>
      <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
      <script type="text/jsx">
        var TopicList = React.createClass({
          render: function() {
            var topicNodes = this.props.data.map(function (topic) {
              return (<Topic key={topic.ID} title={topic.title}/>);
            });
            return (<div><ul>{topicNodes}</ul></div>);
          }
        });

        var VoteButton = React.createClass({
          localHandlerClick: function (){
            this.props.localHandlerClick();
          },
          render: function(){
            return (<button onClick={this.localHandlerClick}>{this.props.status}</button>);
          }
        });

        var Topic = React.createClass({
          getInitialState: function (){
            return {status: 0}
          },
          handlerClick : function (){
            var localStatus = this.state.status;
            localStatus == 0 ? localStatus = 1 : localStatus = 0;
            this.setState({status: localStatus});
          },
          render: function() {
            return (
              <li>{this.props.title} <VoteButton localHandlerClick={this.handlerClick}
              status={this.state.status}/></li>

            );
          }
        });

        var MainApp = React.createClass({
          loadTopicsFromServer: function() {
            $.ajax({
              url: "http://localhost:8080/api/v1/topics",
              dataType: 'json',
              cache: false,
              success: function(data) {
                this.setState({data: data.topics});
                //console.log(this.state.data)
              }.bind(this),
              error: function(xhr, status, err) {
                console.error("v1/topics", status, err.toString());
              }.bind(this)
            });
          },
          getInitialState: function() {
            return {data: []};
          },
          componentDidMount: function() {
            this.loadTopicsFromServer();
          },
          render: function() {
            return (
              <div>
                <h1>Topics</h1>
                  <TopicList data={this.state.data}/>
              </div>
            );
          }
        });
        React.render(<MainApp />, document.getElementById("root"))
      </script>
  </body>
</html>
